API_BASE_URL=
API_PORT=4011
API_TOKEN_SECRET=change_me_before_production
PGHOST=localhost
PGPORT=5432
PGDATABASE=snpsu_teacher
PGUSER=postgres
PGPASSWORD=your_password
PGSSL=false
UNIVERSITY_NAME=SAPTHAGIRI NPS UNIVERSITY
OZEKI_API_URL=http://127.0.0.1:9509/api
OZEKI_USERNAME=http_user
OZEKI_PASSWORD=your_password
OZEKI_ORIGINATOR=
OZEKI_DEFAULT_COUNTRY_CODE=+91
